.App {
    width: 50%;
    margin: auto;
}

.App__title {
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    margin: 2rem;
    color: #0000006e;
}

.App__line {
    margin: 2rem auto;
    width: 60%;
}